
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> node ###
node_modules/
npm-debug.log*
###< node ###

###> ide ###
.idea/
.vscode/
*.swp
*.swo
###< ide ###

###> misc ###
*.db-wal
*.db-shm
/var/last_err.json
###< misc ###
